apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
commonLabels:         
  argocd/app-name: ra99jw1e3-java-springboot
  janus-idp.io/tekton: ra99jw1e3-java-springboot
  backstage.io/kubernetes-id: ra99jw1e3-java-springboot
  backstage.io/kubernetes-namespace: rhtap-app 
  app.kubernetes.io/part-of: ra99jw1e3-java-springboot
resources:
- deployment.yaml
- route.yaml
- service.yaml
